.App {
  text-align: center;
  
}

.App-logo{
  position:fixed;
  width: 100%;
  right: 0;
  background: no-repeat; 
  
}
.App-eda{
  position:fixed;
  width: 30%;
  right: 10%;
  top: 35%;
 
  
}


.App-header {
  position: absolute;
}
.App-text
{
  position:fixed;
  right: 19%;
  top: 80%;
  font-family: Abhaya Libre ExtraBold;
  font-style: normal;
font-weight: normal;
font-size: 24px;
color: #61A643;
}

nav {
  position:fixed;
  width: 100%;
  line-height: 30px;
  left: 71%;
}

nav ul {
  line-height: 10px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  text-align: left;
  
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #61A643;
  font-size: 20px;
  font-family: Abhaya Libre ExtraBold;
 
}

